.loginForm
{
    align-content: center;
    width: 20%;
    margin-top: 200px;
    margin-left: 500px;
    border: #3e8f3e 10px solid;

}
.form-group
{
    width: 75%;
}
.invalidUser {
    color: red;
}